# Ignore personal pages (just ignore that)
public/mama.html
public/mama.py

# Generated Video output
public/sky.mp4

# Ignore preset files
_config.json

# Default ignore files
logs/*
*__pycache__*